/* ==========================================================================
   #Wrapper
   ========================================================================== */
.wrapper {
    position: relative;
}
.container {
    margin: 0 auto;

    @include bp('pc') {
        max-width: calculateRem($pc_width_base);
        padding-left: calculateRem(20px);
        padding-right: calculateRem(20px);
    }

    @include bp('sp') {
        width: 100%;
        padding-left: calculateRem(25px);
        padding-right: calculateRem(25px);
    }

    &__fluid {
        min-width: 100%;
        margin: 0 auto;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include bp( 'pc' ) {
        width: calculateRem(600px);
        margin-right: calculateRem(78px);
    }

    @include bp( 'sp' ) {
        margin-bottom: calculateRem(30px);
    }
}

.sidebar {
    width: 100%;
    @include bp( 'pc' ) {
        flex: 1;
        width: calculateRem(237px);
    }
}
