<!DOCTYPE html>
<html lang="en">
<head>
    <title>@@title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, shrink-to-fit=no">
    <!-- ======== FAVICON ======== -->
    <link rel="shortcut icon" href="images/favicon.png" />

    <!-- ======== STYLES ======== -->
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!-- endbuild -->
</head>
<body>
    <header class="c-header">
    </header>