/* ==========================================================================
   #Images
   ========================================================================== */
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    margin: 0 auto;
}